In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,84.61,65,91,2.53,overcast clouds
1,1,Cape Town,ZA,-33.9258,18.4232,59.41,80,75,5.01,light rain
2,2,Jamestown,US,42.0970,-79.2353,82.09,69,20,1.99,few clouds
3,3,Jiaozuo,CN,35.2397,113.2331,79.23,77,58,3.38,light rain
4,4,Kapaa,US,22.0752,-159.3190,73.38,79,42,3.00,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,84.61,65,91,2.53,overcast clouds
2,2,Jamestown,US,42.0970,-79.2353,82.09,69,20,1.99,few clouds
3,3,Jiaozuo,CN,35.2397,113.2331,79.23,77,58,3.38,light rain
7,7,Atuona,PF,-9.8000,-139.0333,77.22,81,86,18.41,light rain
20,20,Palmer,US,42.1584,-72.3287,84.27,65,100,3.22,overcast clouds
28,28,Pangobilian,PH,8.8011,117.8594,81.61,82,100,4.05,light rain
29,29,Loandjili,CG,-4.7561,11.8578,77.11,78,75,8.05,broken clouds
30,30,Belsand,IN,26.4500,85.4000,84.20,83,93,1.30,heavy intensity rain
32,32,Bengkulu,ID,-3.8004,102.2655,76.87,92,52,4.09,light rain
37,37,Hobyo,SO,5.3505,48.5268,77.05,84,100,26.66,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                253
City                   253
Country                253
Lat                    253
Lng                    253
Max Temp               253
Humidity               253
Cloudiness             253
Wind Speed             253
Current Description    253
dtype: int64

In [4]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [6]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,84.61,overcast clouds,42.6001,-73.9662,
2,Jamestown,US,82.09,few clouds,42.0970,-79.2353,
3,Jiaozuo,CN,79.23,light rain,35.2397,113.2331,
7,Atuona,PF,77.22,light rain,-9.8000,-139.0333,
20,Palmer,US,84.27,overcast clouds,42.1584,-72.3287,
28,Pangobilian,PH,81.61,light rain,8.8011,117.8594,
29,Loandjili,CG,77.11,broken clouds,-4.7561,11.8578,
30,Belsand,IN,84.20,heavy intensity rain,26.4500,85.4000,
32,Bengkulu,ID,76.87,light rain,-3.8004,102.2655,
37,Hobyo,SO,77.05,overcast clouds,5.3505,48.5268,

In [7]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,84.61,overcast clouds,42.6001,-73.9662,
2,Jamestown,US,82.09,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,Jiaozuo,CN,79.23,light rain,35.2397,113.2331,Days Hotel and Suites Jiaozuo
7,Atuona,PF,77.22,light rain,-9.8000,-139.0333,Villa Enata
20,Palmer,US,84.27,overcast clouds,42.1584,-72.3287,Wedgewood Motel
28,Pangobilian,PH,81.61,light rain,8.8011,117.8594,Sir Brooke's Resort
29,Loandjili,CG,77.11,broken clouds,-4.7561,11.8578,Résidence ARCHANGE
30,Belsand,IN,84.20,heavy intensity rain,26.4500,85.4000,Abhishek
32,Bengkulu,ID,76.87,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
37,Hobyo,SO,77.05,overcast clouds,5.3505,48.5268,Halane Hotel and Restaurent

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))